body {
    font-family: Arial, sans-serif;
    background-color: #303030;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: #1a4492;
    font-size: 34px;
}

h2{
    color: #1a4492;
}

label {
    font-weight: bold;
    font-size: 22px;
    color: #1a4492;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #1a4492;
    appearance: none;
    color: rgb(255, 255, 255);
}

.botoes button:hover {
    background-color: #112e64;
    transition: 0.3s;
}

#detalhes {
    margin-top: 20px;
    color: #1a4492;

}

#detalhes-list {
    list-style-type: none;
    padding: 0;
    color: rgb(255, 255, 255);
}

#detalhes-list li {
    padding: 10px;
    background-color: #1a4492;
    margin-bottom: 5px;
    border-radius: 5px;
}
#detalhes-list li:hover{
    background-color: #112e64;
}
img{
    width: 160px;
    text-align: center;
    margin: auto;
    display: block;
}
#fluxograma-imagem {
    width: 100%; 
    max-width: 1000px; 
    height: auto;
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botao1{
    width: 180px;
}

.botao2{
    width: 180px;
}

.botao3{
    width: 180px;
}

/* Estilo para a tela de login */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1a4492;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Grupo de inputs do login */
.form-group {
    margin-bottom: 15px;
}

.container label {
    display: block;
    margin-bottom: 5px;
    color: #1a4492;
}

input {
    width: 576px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #112e64;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}